foolbox==1.1.0
git+https://gitlab.crowdai.org/crowdai/adversarial-vision-challenge
bson==0.5.6
certifi==2018.4.16
chardet==3.0.4
click==6.7
crowdai-api==0.1.1.dev10
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.5
Pillow==5.1.0
python-dateutil==2.7.3
python-gitlab==1.5.0
PyYAML==3.12
requests==2.19.1
scipy==1.1.0
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
redis==2.10.6
